<div style="height: 80px;"></div>

<div class="container d-flex flex-grow-1 align-items-center justify-content-center">
  <!-- card 1 -->
  <div class="card text-center m-4 p-3 blur-card">
    <div class="card-body">
      <div class="row m-5">
        <div class="col-md-6 col-sm-12">
          <img src="./assets/img/jframe.png" alt="Descripción de la imagen" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12">
          <h2 class="text-white">Proyect J-Frame</h2>
          <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis facilis fugit accusantium voluptatem reiciendis labore laboriosam quis deserunt. Necessitatibus perferendis expedita facilis sint. Deserunt, ipsam deleniti fugiat reiciendis saepe alias?</p>
          <button class="button">See Work</button>
        </div>
      </div>
    </div>
  </div>

  <!-- card 2 -->
  <div class="card text-center m-4 p-3 blur-card">
    <div class="card-body">
      <div class="row m-5">
        <div class="col-md-6 col-sm-12">
          <h2 class="text-white">Proyect E-Comerce</h2>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quod eveniet repudiandae facilis animi, corrupti, impedit non assumenda beatae labore natus omnis earum in excepturi odit voluptatum nihil debitis nulla!</p>
          <button class="button">See Work</button>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="./assets/img/ecommerce.jpg" alt="Descripción de la imagen" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <!-- card 3 -->
  <div class="card text-center m-4 p-3 blur-card">
    <div class="card-body">
      <div class="row m-5">
        <div class="col-md-6 col-sm-12">
          <img src="./assets/img/tfg.jpg" alt="Descripción de la imagen" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12">
          <h2 class="text-white">TFG</h2>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et at excepturi vitae enim, quasi est ut iste ullam reprehenderit obcaecati quo, quia deserunt ex nemo aliquid, consequatur id cum!</p>
          <button class="button">See Work</button>
        </div>
      </div>
    </div>
  </div>
</div>
