<<div style="height: 80px;"></div>


<div class="about-me container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="row align-items-center">
    <div class="col-md-5 col-12 text-center">
      <img src="https://media.licdn.com/dms/image/v2/D5603AQHZrsVj5jTxKg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1699264153852?e=2147483647&v=beta&t=YmLrQRm_FncIh3XuORl2pNvN4029Eus7ptNTFR7HdfI" class="img-fluid" style="width: 350px; height: 350px;">
    </div>
    <div class="col-md-6 col-12">
      <h2 class="text-white">About me</h2>
      <p class="text-white">I'm Luis Ortiz, a passionate Full-Stack Developer with 3 years of experience. I've honed my skills to deliver high-quality work and continuously improve.</p>
      <p class="text-white">My dedication to learning and teamwork make me a valuable asset to any team. I thrive in collaborative environments and am eager to tackle new challenges.</p>
      <p class="text-white">I'm excited to contribute my skills and knowledge to a dynamic team and learn from experienced professionals.</p>
    </div>
  </div>
</div>



<!-- Formulario Contacto -->
<section class="contact-form container-fluid mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-12">
      <form class="form">
        <h3 class="text-white">Contact Form</h3>
        <label class="lb text-white" for="nome">Name:</label>
        <input name="nome" id="nome" type="text" class="infos">
        <label for="email" class="lb text-white">E-mail:</label>
        <input name="email" id="email" type="email" class="infos">
        <button id="send" type="submit">Send</button>
        <button id="limpar" type="reset">Clear</button>
      </form>
    </div>
  </div>
</section>
