/* Estilos del navbar */
.navbar {
  width: 100%;
  background-color: #82ceb5;
  padding: 0 px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo a la izquierda */
.navbar-brand {
  font-family: Consolas, monospace;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  margin-right: auto;
  padding-left: 20px;
}

/* Contenedor de los enlaces */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0 30px;  /* Agrega margen a los lados */
  padding: 0;
}

/* Enlaces del menú */
.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-size: 22px;
  font-weight: 600;
  font-family: Consolas, monospace;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
  position: relative;
}

/* Subrayado animado */
.nav-links li a::before,
.nav-links li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  transition: 0.5s;
}

.nav-links li a:hover::after,
.nav-links li a:hover::before {
  width: 100%;
}

/* Link activo */
.nav-links li a.active {
  border-bottom: 2px solid black;
}

/* Espaciado para evitar que el contenido quede cubierto debajo del navbar */
body {
  padding-top: 80px;
  background-color: black;
}
